.dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  height: 100%;
}

.underline {
  background-image: linear-gradient(white, white);
  background-size: 0% 0.09rem;
  background-repeat: no-repeat;
  letter-spacing: 1px;
  margin-bottom: 6.5px;
  color: white;
  background-position: center bottom;
  transition: background-size 0.3s ease;
}

li:hover .underline {
  background-size: 100% 0.09rem;
  margin-bottom: 6.5px;
  cursor: pointer;
}
.sethover {
  background-size: 100% 0.09rem;
  cursor: pointer;
}

@media (max-width: 991px) {
}
@media (min-width: 991px) {
}
